@charset "utf-8";
a,p,h1,h2{
    color: #222;
}
body{
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    background-color: rgb(245,245,255);
}
h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    font-size: 120%;
}

#container{
    background-color: rgb(245,245,255);
    width: 1000px;
    margin: 0 auto;
}
header {
    background-color: rgb(245,245,255);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9;
}
header div {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 30px;
    float: left;
    text-align: center;
}
#logo a{
    opacity: 0.9;
    transition: 0.3s;
}
#logo a:hover{
    opacity: 0.6;
    
}
nav {
    float: right;
}
nav ul {
    overflow: hidden;
    list-style-type: none;
}
nav li {
    float: left;
    width: 150px;
    height: 40px;
    text-align: center;
    font-size: 86%;
}
nav li a {
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 40px;
    color: #444;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 110%;
    text-decoration: none;
    -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
nav li a:hover {
    background-color:  rgb(230,230,255);
    color: #fff;
    -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

/*catch*/
#catch {
    position: relative;
    width: 1000px;
    height: 400px;
    transition: 0.3s;
}
#catch strong{
    position: absolute;
    top: 70%;
    right: 3%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: #fff;
    font-size: 300%;
    width: 100%;
    text-align: right;
}
#cBox {
    position: absolute;
    width: 100%;
    top: 70%;
    height: 14%;
    background: linear-gradient(to left, rgb(0,0,20), transparent);
}
#catch p {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: right;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    color: rgb(255,255,255);
    font-size: 200%;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.7);
    right: 3%;
}
#catch:hover{
    opacity: 0.8;
}
/*news*/
#news{
    width: 1000px;
    margin: 10px auto; 
    text-align:center;
}
#news img{
    border-radius: 5px;
    border: solid 2px #fff;
    margin: 10px 20px;  
}
#news a {
    transition: 0.3s;
}
#news a:hover {
    opacity: 0.7;
}

/*concept*/
#concept {
    background: url(../img/top1_concept.jpg) no-repeat;
    background-color: rgba(255,255,255,0.3);
}
#dBg {
    background-color: rgba(255,255,255,0.7);
}

#concept h2 {
    text-align: center;
    padding: 30px 0 20px 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

#concept .btn{
	width:150px;
	margin: 0 auto;
	text-align:center;
    padding-bottom: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 600;
}
#concept p {
    font-size: 85%;
    text-align: center;
    line-height: 150%;
    padding: 0 0 20px 0;
    line-height: 150%;
    text-shadow: 1px 1px 3px #fff;
}
#concept a {
    display: block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #111;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255,255,255,0.5);
    letter-spacing: 2px;
    font-size: 120%;
}
#concept a:hover {
    background-color:  rgb(230,230,255);
    color: rgb(100,100,120,0.5);
    -webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
    color: #fff;
}

/*PICK UP*/
article h1 {
    text-align: center;
    padding: 30px;
}
article {
    width: 1000px;
    margin: 10px auto; 
    text-align:center;
}
article img {
    border-radius: 5px;
    border: solid 2px #fff;
    margin: 10px 30px 50px 20px; 
}
article a {
    transition: 0.3s;
}
article a:hover {
    opacity: 0.8;
}

/*footer*/
footer{
    width: 1000px;
    text-align: center;
}
footer ul {
    padding: 130px 0 15px 10px;
}
footer li {
    display: inline;
    padding: 0 10px 0 0;
    font-size: 75%;
}
footer li a {
    text-decoration: none;
    color: #111
}
footer li a:hover {
    text-decoration: underline;
}
#sns {
    float: left;
}
footer img {
    height: 12px;
    width: auto;
}
footer p{
    color: #111;
    font-size: 70%;
    /* text-align: right; */
    padding: 0 1% 1% 0;
}

/*privacy*/
#privacy {
    padding: 50px;
}
#privacy h1{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 50px
}
#privacy .pH2{
    transform: none;
    font-weight: bold;
    margin: 20px 0 10px 0;    
}
 #privacy ol {
    padding: 10px;
    list-style-type: decimal;
    list-style-position: inside;
}
#privacy ol li{
    padding: 3px 0 0 15px;;
    font-size: 90%;
    line-height: 150%;
}
#privacy p{
    padding: 3px 0 0 15px;
    font-size: 90%;
    line-height: 150%;
}
#privacy p:last-child{
    text-align: right;
    padding-right: 10%;
}
/*company*/
#company {
    padding-bottom: 50px;
}
#company h1 {
    text-align: center;
    padding: 50px;
    letter-spacing: 10px;
    font-size: 300%;
}
#company table {
margin: 0 auto;
border-collapse: separate;
border-spacing: 3px;
}
#company th,#company td {
    font-size: 90%;
    background-color: rgb(255,255,255,0.7);
}
#company th {
width: 300px;
padding: 20px;
vertical-align: middle;
}
#company td {
padding: 20px 30px 20px 30px;
width: 500px;
line-height: 150%; 
}
#company ol {
    list-style-type: decimal;
    list-style-position: inside;
}
#company li {
    padding: 2px;
}